 /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */
 /* * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        } */
 
 nav {
     position: absolute;
     z-index: 99;
     width: 100%;
     background: #fafafa;
     padding: 0px 25px 0px 25px;
     /* margin-top: -62px; */
     margin-top: 0px;
 }
 
 nav .wrapper {
     position: relative;
     /* max-width: 1300px; */
     padding: 0px 0px;
     height: 66px;
     line-height: 70px;
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 2px !important;
     margin-bottom: 2px !important;
 }
 
 .meganav .wrapper .logo a {
     color: #f2f2f2;
     font-size: 30px;
     font-weight: 600;
     text-decoration: none;
 }
 
 .meganav .wrapper .nav-links {
     display: inline-flex;
 }
 
 .meganav .nav-links li {
     list-style: none;
 }
 
 .meganav .nav-links li a {
     color: #000000;
     text-decoration: none;
     font-size: 13px;
     font-weight: 500;
     padding: 9px 15px;
     border-radius: 5px;
     transition: all 0.3s ease;
     text-transform: uppercase;
 }
 
 .meganav .nav-links .megdrp {
     color: #000000;
     text-decoration: none;
     font-size: 13px;
     font-weight: 500;
     padding: 9px 15px;
     border-radius: 5px;
     transition: all 0.3s ease;
     text-transform: uppercase;
 }
 
 .meganav .nav-links .megdrp:after {
     font-family: "Font Awesome 5 Free";
     content: "\f107";
     display: inline-block;
     padding-right: 3px;
     vertical-align: middle;
     font-weight: 900;
     padding-left: 5px;
 }
 
 .meganav .nav-links li a:hover {
     /* background: #3A3B3C; */
     /* border-bottom: 2px solid #000 !important; */
     border-bottom: 1px solid lightgray !important;
 }
 
 .meganav .nav-links .mobile-item {
     display: none;
 }
 
 .meganav .nav-links .drop-menu {
     position: absolute;
     background: #242526;
     width: 180px;
     line-height: 45px;
     top: 85px;
     opacity: 0;
     visibility: hidden;
     box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
 }
 
 .meganav .nav-links li:hover .drop-menu,
 .meganav .nav-links li:hover .mega-box {
     transition: all 0.3s ease;
     top: 70px;
     opacity: 1;
     visibility: visible;
 }
 
 .meganav .drop-menu li a {
     width: 100%;
     display: block;
     padding: 0 0 0 15px;
     font-weight: 400;
     border-radius: 0px;
 }
 
 .meganav .mega-box {
     position: absolute;
     left: 0;
     width: 100%;
     /* padding: 0 30px; */
     padding: 0 0px;
     top: 85px;
     opacity: 0;
     visibility: hidden;
 }
 
 .meganav .mega-box .content {
     /* background: #242526; */
     background: #fafafa;
     /* padding: 25px 20px; */
     padding: 15px 20px 15px 20px;
     display: flex;
     width: 100%;
     justify-content: space-between;
     box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
 }
 
 .meganav .mega-box .content .row {
     width: calc(25% - 30px);
     line-height: 30px;
     padding: 0px 25px 0px;
 }
 
 .meganav .content .row img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 
 .meganav .content .row header {
     color: #000000;
     font-size: 20px;
     font-weight: 500;
 }
 
 .meganav .content .row .mega-links {
     margin-left: -40px;
     border-left: 1px solid rgba(255, 255, 255, 0.09);
 }
 
 .meganav .row .mega-links li {
     padding: 0 20px;
 }
 
 .meganav .row .mega-links li a {
     padding: 0px;
     padding: 0 20px;
     color: #000000;
     font-size: 15px;
     display: block;
 }
 
 .meganav .row .mega-links li a:hover {
     color: #000000;
 }
 
 .meganav .wrapper .btn {
     color: #000000;
     font-size: 20px;
     cursor: pointer;
     display: none;
 }
 
 .meganav .wrapper .btn.close-btn {
     position: absolute;
     right: 30px;
     top: 10px;
 }
 
 .meganav .wrapper .logo img {
     /* width: 78% !important; */
     margin-top: -8px;
     width: 100% !important;
 }
 
 .top-bar-area {
     top: 0px;
     /* position: fixed; */
     z-index: 99;
     display: block;
     width: 100%;
 }
 
 .mega-box .mega-links li a {
     font-size: 12px !important;
     text-transform: capitalize !important;
 }
 
 @media screen and (max-width: 970px) {
     nav {
         /* margin-top: -30px !important; */
         margin-top: 0px !important;
     }
     .meganav .wrapper .btn {
         display: block;
     }
     .meganav .wrapper .nav-links {
         position: fixed;
         height: 100vh;
         width: 100%;
         max-width: 350px;
         top: 0;
         left: -100%;
         background: #fafafa;
         display: block;
         padding: 50px 10px;
         line-height: 50px;
         overflow-y: auto;
         box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
         transition: all 0.3s ease;
     }
     /* custom scroll bar */
      ::-webkit-scrollbar {
         width: 10px;
     }
      ::-webkit-scrollbar-track {
         background: rgb(201, 198, 198);
     }
      ::-webkit-scrollbar-thumb {
         background: rgb(201, 198, 198);
     }
     .meganav #menu-btn:checked~.nav-links {
         left: 0%;
     }
     .meganav #menu-btn:checked~.btn.menu-btn {
         display: none;
     }
     .meganav #close-btn:checked~.btn.menu-btn {
         display: block;
     }
     .meganav .nav-links li {
         /* margin: 15px 10px; */
         margin: 10px 5px;
     }
     .meganav .nav-links li a {
         padding: 0 20px;
         display: block;
         font-size: 17px;
     }
     .meganav .nav-links .drop-menu {
         position: static;
         opacity: 1;
         top: 65px;
         visibility: visible;
         padding-left: 20px;
         width: 100%;
         max-height: 0px;
         overflow: hidden;
         box-shadow: none;
         transition: all 0.3s ease;
     }
     .meganav #showDrop:checked~.drop-menu,
     .meganav #showMega:checked~.mega-box {
         max-height: 100%;
     }
     .meganav .nav-links .desktop-item {
         display: none;
     }
     .meganav .nav-links .mobile-item {
         display: block;
         color: #000000;
         font-size: 17px;
         font-weight: 500;
         padding-left: 20px;
         cursor: pointer;
         border-radius: 5px;
         transition: all 0.3s ease;
     }
     .meganav .nav-links .mobile-item:hover {
         /* border-bottom: 1px solid #3A3B3C; */
         border-bottom: 1px solid lightgray;
     }
     .meganav .drop-menu li {
         margin: 0;
     }
     .meganav .drop-menu li a {
         border-radius: 5px;
         font-size: 18px;
     }
     .meganav .mega-box {
         position: static;
         top: 65px;
         opacity: 1;
         visibility: visible;
         padding: 0 20px;
         max-height: 0px;
         overflow: hidden;
         transition: all 0.3s ease;
     }
     .meganav .mega-box .content {
         box-shadow: none;
         flex-direction: column;
         /* padding: 20px 20px 0 20px; */
         padding: 20px 0px 0 0px;
     }
     .meganav .mega-box .content .row {
         width: 100%;
         margin-bottom: 15px;
         border-top: 1px solid rgba(255, 255, 255, 0.08);
     }
     .meganav .mega-box .content .row:nth-child(1),
     .meganav .mega-box .content .row:nth-child(2) {
         border-top: 0px;
     }
     .meganav .content .row .mega-links {
         border-left: 0px;
         padding-left: 15px;
     }
     .meganav .row .mega-links li {
         margin: 0;
     }
     .meganav .content .row header {
         font-size: 19px;
     }
     .meganav .main-wrapper img {
         padding: 0px !important;
         margin-left: -14px !important;
         margin-bottom: -5px !important;
         display: block;
     }
     .meganav .row .mega-links li a {
         padding: 0px;
         padding: 0 12px;
         color: #000000;
         font-size: 12px !important;
         display: block;
     }
     .breadcrumb-area {
         padding-top: 110px !important;
     }
 }
 
 nav input {
     display: none;
 }
 
 .body-text {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 100%;
     text-align: center;
     padding: 0 30px;
 }
 
 .body-text div {
     font-size: 45px;
     font-weight: 600;
 }
 
 .logo {
     margin-left: 5px !important;
 }
 
 .btn i {
     font-size: 24px !important;
 }
 
 .breadcrumb-area {
     /* margin-top: 105px; */
     margin-top: 75px;
 }